*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-image:url(/img/bg5.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
h1{
    text-align:center;
    font-size:50px;
    background-color: rgba(0,0,0,0.3);
    height:100px;
}
.wrapper{
    width:90%;
    height:800px;
    border:1px solid black;
    margin:auto;
}
.formular
{
    border:1px solid black;
    width:60%;
    height:400px;
    margin:200px auto;
    background-color: rgba(0,0,0,0.31);
   
}
input{
    display:inline-block;
    margin:auto;
    width:60%;
    height:40px;
    font-size:30px;

}
label{
    display:inline-block;
    font-size:30px;
    border:1px solid #ccc;
    width:300px;
    text-transform: uppercase;
    color:#ccc;
    
}
.inputdiv
{
    padding:20px;
    margin-top:30px;
}
button{
    width:40%;
    height:50px;
    margin-top:30px;
    font-size:30px;
}
.checkbox{
    width:10%;
    
}
legend{
    text-align:center;
    font-size:30px;
    color:white;
}
footer{
    height:100px;
    width:100%;
    background-color:rgba(0,0,0,0.63);
    color:white;
    font-size:24px;
    text-align:center;
    padding-top:50px;

}
